{
    "openapi": "3.0.1",
    "servers": [
        {
          "url": "https://servers.steercampaign.com/v1"
        }
    ],
    "info": {
        "description": "Manage and control Steer Campaign installations",
        "version": "1.0.0",
        "title": "SC Controle",
        "termsOfService": "https://steercampaign.com/terms-of-use/",
        "contact": {
          "email": "m.abumusa@steercampaign.com"
        }
    },
    "tags": [
        {
            "name": "install",
            "description": "install operations"
        }
    ],
    "paths":{
        "/install":{
            "post":{
                "tags": [
                    "install"
                ],
                "summary": "Create install",
                "description": "Create an install on the server",
                "operationId": "createInstall",
                "responses":{
                    "201":{
                        "description": "Install creation request accepted"
                    },
                    "403":{
                        "description": "Invalid Request"
                    }
                },
                "requestBody":{
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Install"
                            }
                        }
                    },
                    "description":"Created install object",
                    "required": true
                },
                "parameters": []
            },
            "put":{
                "tags": [
                    "install"
                ],
                "summary": "Resize install",
                "description": "Resize an install on the server",
                "operationId": "resizeInstall",
                "responses":{
                    "201":{
                        "description": "Install resize request accepted"
                    },
                    "403":{
                        "description": "Invalid Request"
                    },
                    "404":{
                        "description": "Install not found"
                    }

                },
                "requestBody":{
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Install"
                            }
                        }
                    },
                    "description":"Created install object",
                    "required": true
                },
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "The name of the install to be resized",
                        "required": true,
                        "schema":{
                            "type": "string",
                            "example":"iab"
                        }
                    }
                ]
            },
            "delete":{
                "tags": [
                    "install"
                ],
                "summary": "Destroy install",
                "description": "Destroy an install on the server",
                "operationId": "destroyInstall",
                "responses":{
                    "201":{
                        "description": "Install destroy request accepted"
                    },
                    "403":{
                        "description": "Invalid Request"
                    },
                    "404":{
                        "description": "Install not found"
                    }

                },
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "The name of the install to be destroyed",
                        "required": true,
                        "schema":{
                            "type": "string",
                            "example":"iab"
                        }
                    }
                ]
            }
        },
        "/install/copy":{
            "post":{
                "tags": [
                    "install"
                ],
                "summary": "Copy an install",
                "description": "Copy an install on the server",
                "operationId": "copyInstall",
                "responses":{
                    "201":{
                        "description": "Install copy request accepted"
                    },
                    "403":{
                        "description": "Invalid Request"
                    },
                    "404":{
                        "description": "Source not found"
                    }
                },
                "requestBody":{
                    "content":{
                        "application/json":{
                            "schema":{
                                "$ref": "#/components/schemas/Install"
                            }
                        }
                    },
                    "description":"Created install object",
                    "required": true
                },
                "parameters": [
                    {
                        "name": "source",
                        "in": "query",
                        "description": "The name of the source install to be copied",
                        "required": true,
                        "schema":{
                            "type": "string",
                            "example":"iab"
                        }
                    }
                ]
            }
        },
        "/install/stop":{
            "post":{
                "tags": [
                    "install"
                ],
                "summary": "Stop an install",
                "description": "Stop an install on the server",
                "operationId": "stopInstall",
                "responses":{
                    "201":{
                        "description": "Install stop request accepted"
                    },
                    "403":{
                        "description": "Invalid Request"
                    },
                    "404":{
                        "description": "Install not found"
                    }
                },
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "The name of the install to be stopped",
                        "required": true,
                        "schema":{
                            "type": "string",
                            "example":"iab"
                        }
                    }
                ]
            }
        },
        "/install/backup":{
            "post":{
                "tags": [
                    "install"
                ],
                "summary": "Backup an install",
                "description": "Backup an install on the server",
                "operationId": "backupInstall",
                "responses":{
                    "201":{
                        "description": "Install backup request accepted"
                    },
                    "403":{
                        "description": "Invalid Request"
                    },
                    "404":{
                        "description": "Install not found"
                    }
                },
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "The name of the install to be stopped",
                        "required": true,
                        "schema":{
                            "type": "string",
                            "example":"iab"
                        }
                    },
                    {
                        "name": "soruce",
                        "in": "query",
                        "description": "The source of the backup",
                        "required": true,
                        "schema":{
                            "type": "string",
                            "enum": [
                                "automated",
                                "user"
                            ],
                            "default":"automated",
                            "example":"automated"
                        }
                    }
                ]
            }
        },
        "/install/setDomain":{
            "post":{
                "tags": [
                    "install"
                ],
                "summary": "Set a domain an install",
                "description": "Set a domain an install on the server",
                "operationId": "mapDomainToInstall",
                "responses":{
                    "201":{
                        "description": "Domain mapping request accepted"
                    },
                    "403":{
                        "description": "Invalid Request"
                    },
                    "404":{
                        "description": "Install not found"
                    }
                },
                "requestBody":{
                    "content":{
                        "application/json":{
                            "schema":{
                                "type": "object",
                                "required": ["domain"],
                                "properties": {
                                    "domain":{
                                        "type": "string",
                                        "description": "Domain associated with this install",
                                        "example": "domain.com"
                                    }                                                    
                                }
                                
                            }
                        }
                    },
                    "description":"Created install object",
                    "required": true
                },
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "The name of the install to be mapped",
                        "required": true,
                        "schema":{
                            "type": "string",
                            "example":"iab"
                        }
                    }
                ]
            }
        }




    },
    "components": {
        "schemas": {
            "Install":{
                "type": "object",
                "required": [
                    "id",
                    "env_type",
                    "size",
                    "domain",
                    "region"
                ],
                "properties": {
                    "id":{
                        "type": "string",
                        "description": "Installation ID defined as subdomain",
                        "example": "iab"
                    },
                    "env_type":{
                        "type": "string",
                        "description": "Type of the enviroment to be installed dev, stg, prd",
                        "enum": [
                            "dev",
                            "stg",
                            "prd"
                          ],
                        "default": "prd",
                        "example": "prd"
                    },
                    "size":{
                        "type": "string",
                        "description": "The size of the installation",
                        "enum": [
                            "s1",
                            "s2",
                            "s3",
                            "s4",
                            "s5",
                            "custom"
                        ],
                        "default": "s1",
                        "example": "s5"
                    },
                    "domain":{
                        "type": "string",
                        "description": "Domain associated with this install",
                        "example": "domain.com"
                    },
                    "region":{
                        "type": "string",
                        "description": "On which region this install should be deployed to",
                        "example": "us-east-1"
                    },
                    "custom":{
                        "type": "object",
                        "description": "In case the install has custom type this field will be used to define the install size",
                        "required": ["cpu", "memory"],
                        "properties": {
                            "cpu":{
                                "type": "number",
                                "description": "The amount of CPU that should be allocated in GB"
                            },
                            "memory":{
                                "type": "number",
                                "description": "The amount of memroy that should be allocated in GB"
                            }
                        },
                        "example": {
                            "cpu": "1",
                            "memory": "4"
                        }
                    }
                }
            }
        },
        "securitySchemes": {
            "api_key": {
                "type": "apiKey",
                "name": "api_key",
                "in": "header"
            }
        }
    },
    "security": [
        
    ]
}